.footer {
    background-color: #193666;
    font-family: 'Roboto', sans-serif;
    position: relative;

    .footer-holder {

        .footer-logo {

            img {
                width: 100%;
            }
        }

        .footer-content {

            .content-item {
                color: #fff;
                margin-bottom: 1rem;
    
                .item-heading {
                    font-size: 1rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0.5rem;
                }
    
                .item-company {
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid #fff;
                }
    
                .item-company-name {
                    margin: 0.5rem 0 1rem;
                    font-size: 1rem;
                }
    
                .item-company-address {
                    display: flex;
                    margin-bottom: 0.5rem;
    
                    .icon-holder {
                        margin-right: 0.5rem;
                    }
    
                    p {
                        margin-bottom: 0;
    
                        img {
                            width: 2%;
                        }
                    }
                }
    
                .item-company-contact {
    
                    .contact-number {
    
                        i {
                            margin-right: 0.2rem;
                        }
                    }
    
                    .contact-social {
                        width: 40%;
    
                        img {
                            width: 100%;
                        }
                    }
                }
    
                .item-link {
                    
                    a {
                        text-decoration: none;
                        display: block;
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 400;
                    }
    
                    .another-road {
                        font-style: italic;
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
    
                .customer-care {
    
                    p {
                        margin-bottom: 0;

                        i {
                            margin-right: 0.5rem;
                        }
                    }

                    a {
                        color: #fff;

                        i {
                            margin-right: 0.5rem;
                        }
                    }
                }
    
                .customer-form {
                    margin-top: 2rem;
    
                    p {
                        margin-bottom: 0.5rem;
                    }
    
                    form {
                        width: 100%;
    
                        input {
                            font-size: 0.8125rem;
                            color: #313132;
                            width: 80%;
                            padding: 0.5rem 0.8rem;
                            border: none;
                            outline: none;
                            border-radius: 3px 0 0 3px;
                        }
    
                        .btn-send {
                            width: 18%;
                            font-size: 0.8125rem;
                            padding: 0.5rem 0.8rem;
                            border: none;
                            outline: none;
                            background-color: #62D291;
                            color: #fff;
                            margin-left: -0.3rem;
                            border-radius: 0 3px 3px 0;
                        }
                    }
                }
            }
        }
    
        .footer-copyright {
            font-size: 1rem;
            font-weight: 400;
            font-style: italic;
            color: #FFECED;
            text-align: center;
            margin-top: 4rem;
    
            span {
                font-weight: 700;
            }
        }
    }

    .chat-icon {
        position: fixed;
        bottom: 2%;
        right: 2%;
        background: inherit;

        img {
            width: 80%;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        background-color: #193666;
        font-family: 'Roboto', sans-serif;
    
        .footer-holder {
    
            .footer-logo {
                width: 50%;
    
                img {
                    width: 100%;
                    margin-left: -3rem;
                }
            }
    
            .footer-content {
                display: flex;
                justify-content: space-around;
    
                .content-item {
                    color: #fff;
                    margin-bottom: 0rem;
        
                    .item-heading {
                        font-size: 0.875rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 0.5rem;
                    }
        
                    .item-company {
                        padding-bottom: 0.5rem;
                        border-bottom: 1px solid #fff;
                    }
        
                    .item-company-name {
                        margin: 0.5rem 0 1rem;
                        font-size: 0.875rem;
                    }
        
                    .item-company-address {
                        display: flex;
                        margin-bottom: 0.5rem;
        
                        .icon-holder {
                            margin-right: 0.5rem;
                        }
        
                        p {
                            margin-bottom: 0;
                            font-size: 0.875rem;
        
                            img {
                                width: 2%;
                            }
                        }
                    }
        
                    .item-company-contact {
                        font-size: 0.875rem;
        
                        .contact-number {
        
                            i {
                                margin-right: 0.2rem;
                            }
                        }
        
                        .contact-social {
                            width: 40%;
        
                            img {
                                width: 100%;
                            }
                        }
                    }
        
                    .item-link {
                        
                        a {
                            text-decoration: none;
                            display: block;
                            color: #fff;
                            font-size: 0.875rem;
                            font-weight: 400;
                        }
        
                        .another-road {
                            font-style: italic;
                            text-decoration: underline;
                            font-weight: 700;
                        }
                    }
        
                    .customer-care {
                        font-size: 0.875rem;
        
                        p {
                            margin-bottom: 0;
                        }
                    }
        
                    .customer-form {
                        margin-top: 2rem;
        
                        p {
                            font-size: 0.8rem;
                            margin-bottom: 0.5rem;
                        }
        
                        form {
                            width: 100%;
        
                            input {
                                font-size: 0.8125rem;
                                color: #313132;
                                width: 80%;
                                padding: 0.5rem 0.8rem;
                                border: none;
                                outline: none;
                                border-radius: 3px 0 0 3px;
                            }
        
                            .btn-send {
                                width: 18%;
                                font-size: 0.8125rem;
                                padding: 0.5rem 0.3rem;
                                border: none;
                                outline: none;
                                background-color: #62D291;
                                color: #fff;
                                margin-left: -0.3rem;
                                border-radius: 0 3px 3px 0;
                            }
                        }
                    }
                }

                .content-item:not(:last-child) {
                    margin-right: 0.8rem;
                }
             }
        
            .footer-copyright {
                font-size: 1rem;
                font-weight: 400;
                font-style: italic;
                color: #FFECED;
                text-align: center;
                margin-top: 4rem;
        
                span {
                    font-weight: 700;
                }
            }
        }

        .chat-icon {
            position: fixed;
            bottom: 2%;
            right: 2%;
            background: inherit;
    
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .footer {
        background-color: #193666;
        font-family: 'Roboto', sans-serif;
    
        .footer-holder {
    
            .footer-logo {
                width: 40%;
    
                img {
                    width: 100%;
                    margin-left: -3.5rem;
                }
            }
    
            .footer-content {
                display: flex;
                justify-content: space-around;
    
                .content-item {
                    color: #fff;
                    margin-bottom: 0rem;
        
                    .item-heading {
                        font-size: 1rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 1rem;
                    }
        
                    .item-company {
                        padding-bottom: 0.5rem;
                        border-bottom: 1px solid #fff;
                    }
        
                    .item-company-name {
                        margin: 0.5rem 0 1rem;
                        font-size: 1rem;
                    }
        
                    .item-company-address {
                        display: flex;
                        margin-bottom: 2.5rem;
        
                        .icon-holder {
                            margin-right: 0.5rem;
                        }
        
                        p {
                            margin-bottom: 0.5rem;
                            font-size: 1rem;
        
                            img {
                                width: 2%;
                            }
                        }
                    }
        
                    .item-company-contact {
                        font-size: 1rem;
                        display: flex;
                        justify-content: space-between;
        
                        .contact-number {
        
                            i {
                                margin-right: 0.2rem;
                            }
                        }
        
                        .contact-social {
                            width: 25%;
        
                            img {
                                width: 100%;
                            }
                        }
                    }
        
                    .item-link {
                        
                        a {
                            text-decoration: none;
                            display: block;
                            color: #fff;
                            font-size: 1rem;
                            font-weight: 400;
                            margin-bottom: 0.5rem;
                        }
        
                        .another-road {
                            font-style: italic;
                            text-decoration: underline;
                            font-weight: 700;
                        }
                    }
        
                    .customer-care {
                        font-size: 1rem;
        
                        p {
                            margin-bottom: 0.5rem;
                        }
                    }
        
                    .customer-form {
                        margin-top: 3.6rem;
        
                        p {
                            font-size: 1rem;
                            margin-bottom: 0.5rem;
                        }
        
                        form {
                            width: 100%;
        
                            input {
                                font-size: 0.8125rem;
                                color: #313132;
                                width: 80%;
                                padding: 0.35rem 0.8rem;
                                border: none;
                                outline: none;
                                border-radius: 3px 0 0 3px;
                            }
        
                            .btn-send {
                                width: 18%;
                                font-size: 0.8125rem;
                                padding: 0.35rem 0.8rem;
                                border: none;
                                outline: none;
                                background-color: #62D291;
                                color: #fff;
                                margin-left: -0.3rem;
                                border-radius: 0 3px 3px 0;
                            }
                        }
                    }
                }

                .content-item:not(:last-child) {
                    margin-right: 0.8rem;
                }
             }
        
            .footer-copyright {
                font-size: 1rem;
                font-weight: 400;
                font-style: italic;
                color: #FFECED;
                text-align: center;
                margin-top: 4rem;
        
                span {
                    font-weight: 700;
                }
            }
        }
    }
}