.partner {
    font-family: 'Manrope', sans-serif;
    background: rgba(229, 229, 229, 0.34);
    padding: 2rem 0;

    .partner-holder {

        .partner-heading {
            font-size: 1.2rem;
            font-weight: 700;
            color: #193666;
            text-align: center;
            margin-bottom: 1rem;
        }

        .partner-slider {
            position: relative;

            .swiper-container {

                .swiper-wrapper {

                    .swiper-slide {

                        .img-holder {
                            width: 80%;
                            margin: 0 auto;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .btn {
                    font-size: 1.5rem;
                    color: #39527B;
                    position: absolute;
                    top: 25%;
                    z-index: 99;
                }

                .btn-next {
                    right: 0;
                }

                .btn-left {
                    left: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .partner {
        font-family: 'Manrope', sans-serif;
        padding: 3rem 0;
        
    
        .partner-holder {
    
            .partner-heading {
                font-size: 1.2rem;
                font-weight: 700;
                color: #193666;
                text-align: center;
            }
    
            .partner-slider {
                position: relative;
    
                .swiper-container {
    
                    .swiper-wrapper {
    
                        .swiper-slide {
    
                            .img-holder {
                                width: 100%;
                                margin: 0 auto;
    
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
    
                    .btn {
                        font-size: 1.5rem;
                        color: #39527B;
                        position: absolute;
                        top: 15%;
                        z-index: 99;
                    }
    
                    .btn-next {
                        right: 0;
                    }
    
                    .btn-left {
                        left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .partner {
        font-family: 'Manrope', sans-serif;
        padding: 4rem 0;
    
        .partner-holder {
    
            .partner-heading {
                font-size: 2rem;
                font-weight: 700;
                color: #193666;
                text-align: center;
                margin-bottom: 1rem;
            }
    
            .partner-slider {
                position: relative;
    
                .swiper-container {
    
                    .swiper-wrapper {
    
                        .swiper-slide {
    
                            .img-holder {
                                width: 100%;
                                margin: 0 auto;
    
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
    
                    .btn {
                        font-size: 1.5rem;
                        color: #39527B;
                        position: absolute;
                        top: 25%;
                        z-index: 99;
                    }
    
                    .btn-next {
                        right: -1%;
                    }
    
                    .btn-left {
                        left: -1%;
                    }
                }
            }
        }
    }
}