.hn-office-caption {
    font-family: 'Roboto', sans-serif;

    .caption-content {
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #193666;
        margin: 0.5rem 0 3rem;

    }
}