.hn-office-taskbar {
    font-family: 'Roboto', sans-serif;

    .taskbar-holder {

        .mobile-taskbar {
            outline: none;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);

            .btn-holder {
                border: 0.5px solid rgba(49, 49, 50, 0.5);
                border-radius: 4px;
                
                .btn {
                    outline: none;
                    font-size: 0.875rem;
                    font-size: 400;
                    color: #313132;
                    border-radius: 0px;
                }

                .btn-for-lease,
                .btn-for-sale {
                    outline: none;
                }

                .btn-active {
                    color: #FFECED;
                    background-color: #193666;
                    font-weight: 700;
                }
            }

            .navbar-toggler {
                outline: none;
                margin-right: -1rem;
                font-size: 1.5rem;
                color: #193666;
            }

            .collapse {
                margin-top: 1rem;
                flex: 0 0 100%;
                transition: height 0.8s ease;

                .input-holder {
                    position: relative;

                    input {
                        outline: none;
                        width: 100%;
                        font-size: 0.875rem;
                        padding: 0.4rem 0rem 0.4rem 3rem;
                        border-radius: 4px;
                        border: 0.5px solid rgba(49, 49, 50, 0.5);
                    }

                    i {
                        position: absolute;
                        top: 25%;
                        left: 6%;
                        color:  #313132;
                        opacity: 0.8;
                    }
                }

                .content-holder {
                    margin-top: 1rem;

                    .filter-holder {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 1rem;
    
                        .filter-item {
                            position: relative;
    
                            .item-label {
                                font-size: 0.625rem;
                                font-weight: 400;
                                color: #313132;
                                cursor: pointer;
    
                                p {
                                    font-size: 0.875rem;
                                    margin-bottom: 0;
                                }
                            }
    
                            .item-dropdown-content {
                                display: none;
                                position: absolute;
                                background: #fff;
                                box-shadow: 0 8px 10px rgb(3 44 71 / 24%);
                                width: 150%;
                                padding: 0.5rem;
                                border-radius: 5px;
                                top: 110%;
                                height: 7.5rem;
                                overflow: auto;
                                z-index: 10;
    
                                ul {
                                    list-style: none;
                                    margin-bottom: 0;
    
                                    li {
                                       
                                        span {
                                            font-size: 0.875rem;
                                            color: #313132;
                                            text-decoration: none;
                                            cursor: pointer;
                                        }
                                    }
                                    
                                    li:hover {
                                        font-weight: 600;
                                        background: #edf7ff;
    
                                        span {
                                            color: #193666;
                                        }
                                    }
                                }
                            }    
                        }
                    }

                    .search-btn-holder {
                        margin-top: 1rem;
                        text-align: center;

                        .btn-search {
                            background-color: #193666;
                            color: #FFECED;
                            border: none;
                            outline: none;
                            font-size: 0.875rem;
                            font-weight: 700;
                            padding: 0.3rem 1rem;
                            border-radius: 4px;
                        }

                        i {
                            color: #193666;
                        }
                    }
                }
            }

            .collapsing {
                transition: height 1.3s ease;
            }
        }

        .desktop-taskbar {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .hn-office-taskbar {
        font-family: 'Roboto', sans-serif;
    
        .taskbar-holder {
    
            .mobile-taskbar {
                outline: none;
    
                .btn-holder {
                    border: 0.5px solid rgba(49, 49, 50, 0.5);
                    border-radius: 4px;
                    
                    .btn {
                        outline: none;
                        font-size: 0.875rem;
                        font-size: 400;
                        color: #313132;
                        border-radius: 0px;
                    }
    
                    .btn-for-lease,
                    .btn-for-sale {
                        outline: none;
                    }
    
                    .btn-active {
                        color: #FFECED;
                        background-color: #193666;
                        font-weight: 700;
                    }
                }
    
                .navbar-toggler {
                    outline: none;
                    margin-right: -1rem;
                    font-size: 1.5rem;
                    color: #193666;
                }
    
                .collapse {
                    margin-top: 1rem;
                    flex: 0 0 100%;
                    transition: height 0.8s ease;
    
                    .input-holder {
                        position: relative;
    
                        input {
                            width: 100%;
                            font-size: 0.875rem;
                            padding: 0.4rem 0rem 0.4rem 3rem;
                            border-radius: 4px;
                            border: 0.5px solid rgba(49, 49, 50, 0.5);
                        }
    
                        i {
                            position: absolute;
                            top: 25%;
                            left: 3%;
                            color:  #313132;
                            opacity: 0.8;
                        }
                    }
    
                    .content-holder {
                        margin-top: 1rem;
    
                        .filter-holder {
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);
                            grid-gap: 1rem;
                            padding-left: 3rem;
        
                            .filter-item {
                                position: relative;
        
                                .item-label {
                                    font-size: 0.625rem;
                                    font-weight: 400;
                                    color: #313132;
                                    cursor: pointer;
        
                                    p {
                                        font-size: 0.875rem;
                                        margin-bottom: 0;
                                    }
                                }
        
                                .item-dropdown-content {
                                    display: none;
                                    position: absolute;
                                    background: #fff;
                                    box-shadow: 0 8px 10px rgb(3 44 71 / 24%);
                                    width: 150%;
                                    padding: 0.5rem;
                                    border-radius: 5px;
                                    top: 110%;
                                    height: 7.5rem;
                                    overflow: auto;
                                    z-index: 10;
        
                                    ul {
                                        list-style: none;
                                        margin-bottom: 0;
        
                                        li {
                                           
                                            span {
                                                font-size: 0.875rem;
                                                color: #313132;
                                                text-decoration: none;
                                                cursor: pointer;
                                            }
                                        }
                                        
                                        li:hover {
                                            font-weight: 600;
                                            background: #edf7ff;
        
                                            span {
                                                color: #193666;
                                            }
                                        }
                                    }
                                }    
                            }
                        }
    
                        .search-btn-holder {
                            margin-top: 1rem;
                            text-align: center;
    
                            .btn-search {
                                background-color: #193666;
                                color: #FFECED;
                                border: none;
                                outline: none;
                                font-size: 0.875rem;
                                font-weight: 700;
                                padding: 0.3rem 1rem;
                                border-radius: 4px;
                            }
    
                            i {
                                color: #193666;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .hn-office-taskbar {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
        margin: 0 3rem;
    
        .taskbar-holder {
    
            .mobile-taskbar {
                display: none;
            }

            .desktop-taskbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0rem;

                .btn-holder {
                    border-radius: 4px;
                    border: 0.5px solid rgba(49, 49, 50, 0.5);
                    flex: 0 0 20%;
                    display: flex;
                    
                    .btn {
                        flex: 0 0 50%;
                        outline: none;
                        font-size: 0.875rem;
                        font-size: 400;
                        color: #313132;
                        border-radius: 0px;
                    }
    
                    .btn-for-lease,
                    .btn-for-sale {
                        outline: none;
                    }
    
                    .btn-active {
                        color: #FFECED;
                        background-color: #193666;
                        font-weight: 700;
                    }
                }
                
                .input-holder {
                    position: relative;   
                    flex: 0 0 20%;     
                    margin-right: 0rem;            

                    input {
                        outline: none;
                        width: 100%;
                        font-size: 0.875rem;
                        padding: 0.45rem 0rem 0.45rem 2rem;
                        border-radius: 4px;
                        border: 0.5px solid rgba(49, 49, 50, 0.5);
                    }

                    i {
                        position: absolute;
                        top: 25%;
                        left: 6%;
                        color:  #313132;
                        opacity: 0.8;
                    }
                }

                .content-holder {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-gap: 0.5rem;
                    flex: 0 0 45%;
                    margin-top: -0.45rem;

                    .filter-item {
                        position: relative;

                        .item-label {
                            font-size: 0.625rem;
                            font-weight: 400;
                            color: #313132;
                            cursor: pointer;

                            p {
                                font-size: 0.875rem;
                                margin-bottom: 0;
                            }
                        }

                        .item-dropdown-content {
                            display: none;
                            position: absolute;
                            background: #fff;
                            box-shadow: 0 8px 10px rgb(3 44 71 / 24%);
                            width: 150%;
                            padding: 0.5rem;
                            border-radius: 5px;
                            top: 150%;
                            height: 7.5rem;
                            overflow: auto;
                            z-index: 10;
                            
                            ul {
                                list-style: none;
                                margin-bottom: 0;

                                li {
                                   
                                    span {
                                        font-size: 0.875rem;
                                        color: #313132;
                                        text-decoration: none;
                                        cursor: pointer;
                                    }
                                }
                                
                                li:hover {
                                    font-weight: 600;
                                    background: #edf7ff;

                                    span {
                                        color: #193666;
                                    }
                                }
                            }
                        }    
                    }
                } 
                
                .search-btn-holder {
                    margin-top: 0rem;
                    text-align: center;

                    .btn-search {
                        background-color: #193666;
                        color: #FFECED;
                        border: none;
                        outline: none;
                        font-size: 0.875rem;
                        font-weight: 700;
                        padding: 0.45rem 1rem;
                        border-radius: 4px;
                    }

                    i {
                        color: #193666;
                    }
                }
            }
        }
    }
}